/01_basics/.ipynb_checkpoints/S0000_content-checkpoint.ipynb
/01_basics/.ipynb_checkpoints/S0010_basics-checkpoint.ipynb
/01_basics/.ipynb_checkpoints/S0020_basics-checkpoint.ipynb
/01_basics/.ipynb_checkpoints/S0030_basics-checkpoint.ipynb
/01_basics/.ipynb_checkpoints/S0040_basics-checkpoint.ipynb
/.idea/
/Python_Handbook  (local_only)/The Python Handbook – Learn Python for Beginners.html
/Python_Handbook  (local_only)/
